.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
  width: 952px;
}

.form__group {
  display: flex;
  align-items: stretch;
  gap: 12px;
  border: none;
  margin: 0;
  padding: 0;
}

.form__group > div {
  max-width: 204px;
}

.results {
  display: inline-flex;
  gap: 25px;
  margin: 120px auto 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 25px;
}
