.container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  max-width: 522px;
  margin: 0 auto;
}

.blockh {
  height: 60px;
}

.results {
  display: inline-flex;
  gap: 16px;
  margin: 120px auto 0;
}
