.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 52px;
  max-width: 980px;
  margin: 0 auto;
}

.form > *:last-child {
  margin-left: auto;
}

.combination {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.combination > div {
  margin-right: 44px;
}

.combination > div:last-of-type {
  margin-right: 0;
}

.combination > button {
  margin-right: 12px;
}

.combination > button:last-of-type {
  margin-right: 0;
}

.results {
  list-style: none;
  padding: 0;
  margin: 48px auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  height: 368px;
}
